.vacancy-details {
    border: 1px solid rgba(196, 196, 196, 1);
    padding: 30px;
    border-radius: 20px;
    margin-left: auto;
    height: 1380px;
    width: 590px;
}

.vacancy-apply {
    background: #FF007A;
    color: #fff;
    padding: 14px;
    border-radius: 21px;
}

.vacancy-btn {
    padding: 12px 62px;
    background: #FFFFFF29;
    border-radius: 45px;
    font-weight: 600;
    margin-left: 110px;
}

.employment {
    padding: 10px 14px;
    color: #fff;
    background: #FFFFFF29;
    margin-right: 10px;
    border-radius: 60px;
    margin-top: 10px;
}

.vacancy-menu li {
    list-style-type: disc;
    margin: 10px 25px;
}
