.header {
    padding: 30px;
}

.nav__gpt {
    margin-left: auto;
}

.nav__btn {
    cursor: pointer;
    padding: 15px 24px;
    border-radius: 9px;
    color: #fff;
    margin-left: 16px;
    background-color: rgba(255, 0, 122, 1);
}

.menu__links {
    margin-right: 10px;
}

.nav__menu {
    margin-left: 100px;
}

.menu__links {
    cursor: pointer;
}

.active {
    color: rgba(255, 0, 122, 1);
}

.header__title {
    font-size: 55px;
    font-weight: 500;
    color: #000;
    text-align: center;
}

.header__title span {
    color: #FF007A;
}

.header-main {
    width: 840px;
    margin: 100px auto 0;
    text-align: center;
}

.header__text {
    color: #777777;
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0;
}

.header__btn {
    outline: none;
    background: #FF007A;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    padding: 16px 170px;
    cursor: pointer;
    border-radius: 100px;
}

